<!-- Sidebar Column -->
<h2>Navigation</h2>
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    {% for category in categories %}
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{ category }}">{{ category }}</a>
      </h4>
    </div>
	{% if page.categories contains category %}
    <div id="{{ category }}" class="panel-collapse collapse in">
	{% else %}
    <div id="{{ category }}" class="panel-collapse collapse">
	{% endif %}
      <div class="panel-body">
        <ul>
            {% for page in site.pages %}
                {% if page.path contains "_pages" %}
                    {% if page.categories contains category %}
                        <li><a href="{{ site.github.url | remove:'http:' }}{{ page.url }}" > {{ page.title }} </a> </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
 </div> 
